/*Header settings*/
header {
    height:38px;
    background: #B6B6B6;
    width: 100%;
	top: 0px;
	position: absolute;
	}
#header-menu {
	text-align:right;
	top: 0px;
}
#header-menu ul{
	display: block;
}
#header-menu li {
	display:inline-block;
	color: #0F5573;
	padding: 0px 36px;
	font-size: 14px;
	font-weight: bold;
}

.logo {
	padding: 50px;
}


/*Site menu and all it has*/
#site-menu {
	text-align: right;
	float:right;
}
#site-menu ul {
	display: block;
}
#site-menu li {
	display: inline-block;
	color: #4A4A4A;
	padding: 0px 20px;
	font-size: 17px;
}

/*Gray space in the site's page*/
.gray-space {
	background-color:#F1F1F1;
	height:944px;
}
/* Below are IDs for pictures of Epsilon(?) we use and also other pictures in gray space */
#epsilon {
	padding: 348px 454px 125px 356px;
	z-index: 2;
	position: absolute;
}
#epsilon-front {
	padding: 212px 1028px 390px 615px;
	z-index: 1;
	position: absolute;
}

/*Properties of "communications" image and all of the text inside it"*/
.communications {
	float: right;
	width: 741px;
	height: 278px;
	background-image: url('communications.png');
	background-size: cover;
	background-position: center;
}

.communications-text {
	padding: 56px 96px 143px 55px;
	color: #FFFFFF;
	z-index: 5;
	font-size: 44px;
	
}
.solutions {}
#discover {}

/*Description & Products below the Communications*/
