/*Header settings*/
header {
    height:38px;
    background: #B6B6B6;
    width: 100%;
	top: 0px;
	position: absolute;
	}
#header-menu {
	text-align:right;
	top: 0px;
}
#header-menu ul{
	display: block;
}
#header-menu li {
	display:inline-block;
	color: #0F5573;
	padding: 0px 36px;
	font-size: 14px;
	font-weight: bold;
}
/*End*/

/*Gray space is now occupying entire site, excluding header*/
.gray-space {
	background-color: #F1F1F1;
	height: 2500px;
	width: 100%;
}
/*End*/

/*Settings for white-top below header*/
.white-top {
	background-color: #FFFFFF;
	top: 0px;
	width: 100%;
	height: 156px;
}
.logo {
}
.site-menu {
	text-align: right;
	float:right;
}
.site-menu ul {
	display: block;
}
.site-menu li {
	display: inline-block;
	color: #4A4A4A;
	padding: 0px 20px;
	font-size: 17px;
}
/*End*/

/*Products and Description*/
.products-row {
	width: 100%;
	height: 944px;
	background-color: inherit;
}
/*Left Side*/
.left-side {
	width: 50%;
	height: 944px;
	float: left;
}
/*Inside border*/
.border {
	border: 8px solid #6666B2;
	height: 650px;
	width: 680px;
	margin-top: 50px;
	float: right;
	overflow: visible;
	position: relative;
}
.epsilon{
	position: absolute;
	bottom: -65px;
	left: 30%;
	z-index: 2;
}
.epsilon-front {
	position: absolute;
	right: -55px;
	top: 20%;
	z-index: 1;
}
.epsilon-text{
	color: #4A4A4A;
}
.epsilon-text h1 {
	position: absolute;
	left: -70px;
	top: 0px;
	font-size: 70px;
	background-color: #F1F1F1;
	font-weight: bold;
}
.epsilon-text h2 {
	position: absolute;
	left: -70px;
	top: 95px;
	font-size: 35px;
	background-color: #F1F1F1;
	font-weight: bold;
}
.epsilon-text p {
	position: absolute;
	left: -70px;
	top: 150px;
	font-size: 20px;
	background-color: #F1F1F1;
}
.gimbals {
	height: 58px;
	width: 317px;
	line-height: 29px;
}

/*Right Side*/
.right-side {
	width: 50%;
	height: 944px;
	float: right;
}
/*End*/

/*Below is News block*/
.news-back {
	height: 944px;
	width: inherit;
	background-color: #FFFFFF;
}
/*End*/

/*Finally, it is footer containing all kind of contact forms and info*/
.misc-footer {
	background-color: #F1F1F1;
	height: 445px;
}